[submodule "src/foundry-f25/foundry-simple-storage-f25/lib/forge-std"]
	path = src/foundry-f25/foundry-simple-storage-f25/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/foundry-f25/foundry-fund-me-f25/lib/forge-std"]
	path = src/foundry-f25/foundry-fund-me-f25/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/foundry-f25/foundry-fund-me-f25/lib/chainlink-brownie-contracts"]
	path = src/foundry-f25/foundry-fund-me-f25/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "src/foundry-f25/foundry-fund-me-f25/lib/chainlink"]
	path = src/foundry-f25/foundry-fund-me-f25/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "src/foundry-f25/foundry-fund-me-f25/lib/chainlink-evm"]
	path = src/foundry-f25/foundry-fund-me-f25/lib/chainlink-evm
	url = https://github.com/smartcontractkit/chainlink-evm
